<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                    <img class="logo-img" src="{{ get_url(path='icons/avatar.png') }}" >
            </div>
            <div class="main-menu">
                <ul>
                    <li><a href="{{ config.base_url }}" class="icon menu-a"> [Home]</a></li>
                    <li><a href="/projects/" class="icon">󰒓 [Projects]</a></li>
                    <li><a href="/about/" class="icon">  [About]</a></li>
                </ul>
            </div>
            <div class="social">
                    <a href="{{ config.extra.github }}" target="_blank"> 
                       <img class="social-img"  src="{{ get_url(path='icons/github.svg') }}" >
                    </a>
                    <a href="{{ config.extra.email }}">
                       <img class="social-img"  src="{{ get_url(path='icons/email.svg') }}" >
                    </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            {% block body %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>© {{ now() | date(format="%Y") }} {{ config.title }}</p>
    </footer>
</body>
</html>


