<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                    <a href="{{ config.base_url }}""><img class="logo-img" src="{{ get_url(path='icons/avatar.png') }}" ></a>
            </div>
            <div class="main-menu">
                <ul class="menu-items">
                    <li> <a href="{{ config.base_url }}">[Home]</a></li>
                    <li>󰒓 <a href="/projects/">[Projects]</a></li>
                    <li>  <a href="/about/">[About]</a></li>
                </ul>
            </div>
            <div class="social">
                    <!-- Menu toggle button (only visible on mobile) -->
                    <button class="menu-toggle" onclick="toggleMenu()">
                        menu 
                    </button>
                    <a href="https://github.com/{{ config.extra.github }}/" target="_blank"> 
                       <img class="social-img"  src="{{ get_url(path='icons/icons8-github.svg') }}" >
                    </a>
                    <a href="mailto:{{ config.extra.email }}">
                       <img class="social-img"  src="{{ get_url(path='icons/email.svg') }}" >
                    </a>
                    <a href="/atom.xml">
                       <img class="social-img"  src="{{ get_url(path='icons/rss.svg') }}" >
                    </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            {% block body %}{% endblock %}
        </main>

    <button onclick="topFunction()" id="scrollUp" title="Go to top">Top</button>
    </div>
    <footer>
        <p>© {{ now() | date(format="%Y") }} {{ config.title }}</p>
    </footer>
</body>

<script>
    function toggleMenu() {
        const menu = document.querySelector('.menu-items');
        menu.classList.toggle('active');
    }

    // Get the button:
    let mybutton = document.getElementById("scrollUp");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>

</html>


