{% extends "base.html" %}

{% block body %}
<h1>#~ ls -las</h1>
<p>{{ section.content | safe }}</p> <!-- Use section.content for the homepage content -->
<ul>
    {% set posts = get_section(path="posts/_index.md", ignore_errors=true ) %}
    {% for post in posts.pages %}
    <li>
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <p class="icon"> {{ post.date | date(format="%Y-%m-%d") }} - 󰥔 {{ post.reading_time }} min read</p><br />
        <p>{{ post.description }}</p> <!-- Use description, as summary isn't automatically available -->
    </li>
    {% endfor %}
</ul>
{% endblock %}

