{% extends "base.html" %}

{% block body %}
<p>{{ section.content | safe }}</p> <!-- Use section.content for the homepage content -->
<ul>
    {% set posts = get_section(path="posts/_index.md", ignore_errors=true ) %}
    {% for post in posts.pages %}
    <li class="post-li">
        <div class="post-title">
            <h2><a href="{{ post.permalink }}" class="icon">󰈔 {{ post.title }} </a></h2>
        </div>

        <p> {{ post.date | date(format="%Y-%m-%d") }} | 󰥔 {{ post.reading_time }} min read</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}

